@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

body {
   font-family: 'Quicksand', sans-serif;
   background: #e2e8f0;
}

.logo {
   color: #fff;
   font-size: 25px;
   font-weight: 600;
}

.header-main {
   position: relative;
   padding-top: 7px;
   padding-bottom: 7px;
   background-color: #6777ef;
}

.search-button {
   color: #6777ef;
   background-color: #ffffff;
   border-color: #ffffff;
}

.list-group-item {
   position: relative;
   display: block;
   /* padding: .75rem 1.25rem; */
   padding: 10px;
   background-color: #e4e3e3;
   border: none;
   padding-bottom: 2;
   margin-bottom: 10px;
   border-radius: .5rem !important;
}

.list-group-item.active {
   background-color: #6777ef;
   border: #6777ef;
}

.btn-primary {
   background-color: #6777ef;
   border: #6777ef;
}

.btn-primary:hover {
   background-color: #4050c7;
   border: #4050c7;
}

.payment {
   padding: 10px;
   background-repeat: no-repeat;
   background-size: 90px auto;
   background-position: center center;
   background-color: white;
   border-radius: 5px;
   margin-right: 5px;
   margin-left: 5px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}